.App {
  text-align: center;
}

.navbar{
  background-color: #5D737E;
  display: flex;
  height: 100px;
  padding: 20px;
  align-items: center;
  width: 100%;
}

.nav-logo{
  height: 100%;
  width: 100px;
  border-radius: 100px;
  left: 50px;
}

.nav-title{
  position: absolute;
  left: 130px;
  margin-right: auto; 
  color: #02020A;
  font-size: 1.75rem;
}

.nav-links{
  position: relative;
  margin-left: auto;
  color: #02020A;
  font-size: 0.75rem;
  font-weight: 500;
  font-weight: lighter;
  background-color: #004A00;
  padding: 10px; 
}


.nav-home{
  
  width: 62px;
  
}

.nav-login{
  
  width: 62px;
}

.nav-contact{
  
  width: 62px;
}


.plant-preview{
  display: grid;
  margin: 2rem auto;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-area: .5rem;
  width: 500px;
}